html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* some general styles */

* { 
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color:black;
}

p {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

 /* header styles  */

header {
  background-image: url(./pastel_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 100px;
  margin: 0 auto;
  padding-top: 125px;
  text-align: center; 
  font-style: italic;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

form {
  text-align: center;
}

fieldset {
  border: none;
}

label {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;

}

.submit-button {
  display: flex;
  justify-content: center;
  margin: 25px 0 25px 0;
}

input[type="submit"] {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  background: white;
  padding: 15px;
  box-shadow: 5px 5px grey;
}

input[type="text"] {
  width: 100%;
  margin: 50px 0 50px 0;
  padding: 6px 12px;
  border: none;
  box-shadow: 5px 5px grey;
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
}

::placeholder {
  font-style: italic;
  opacity: 0.5;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #cadcdb;
}

.arrow {
  text-align: center;
  font-size: 50px;
  margin-top: 25px;
}


/* styles for dynamically added list of books */

.user-data {
  display: flex;
  justify-content: space-between;
}


.list-of-books {
  max-width: 85%;
}

.book-list-container {
  display: flex;
  justify-content: center;
}

.book-list-container-read {
  color: grey;
  font-style: italic;
  text-decoration: line-through;
}

li {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  border: #f3d4d4 2px solid;
  border-radius: 5px;
  width: 50%;
  padding: 25px 0 25px 0;
  margin: 15px 0 15px 0;
}

input[type="checkbox"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom:0;
  opacity: 0;
  z-index: 10;
  cursor: pointer
}

.checkbox-container {
  width: 30px;
  height: 30px;
  position: relative;
  margin: 0 25px;
  display: inline-block;
}

.styled-checkbox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom:0;
  z-index: 5;

}

.fa-recycle {
  color: #acc4c4;
  font-size: 3rem;
  margin: 40px 0 0 25px;
  cursor: pointer;
}

.delete-warning {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);

}

.pop-up {
  background-color: white;
  padding: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pop-up p {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.pop-up-buttons {
  margin: 20px 0;
}

.agree,
.disagree {
  font-size: 2rem;
  background-color: grey;
  color: white;
  padding: 10px;
  border: solid 2px grey;
  border-radius: 10px;
  cursor: pointer;
}

.agree:hover,
.agree:focus,
.disagree:hover,
.disagree:focus {
  background-color: white;
  color: grey;
}

.agree {
  margin-right: 10px;

}

.goal-input {
  width: 10%;

}

/* styles for footer */

footer {
  background-color: #cadcdb;
  text-align: center;
  padding: 25px 0 25px 0;
}

/* responsive styles */

@media (max-width: 940px) {
 .book-title {
    font-size: 2.5rem;
  }


}

@media (max-width: 768px) {

/* List of books styles */

  .form-wrapper {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 50px;

  }

  .book-title {
    font-size: 2rem;
  }
  
  li {
    width: 65%;
  }

}

@media (max-width: 480px) {

  /* Header styles */

  h1 {
    font-size: 4rem;
  }

  .form-wrapper {
    max-width: 60%;
  
  }

  label {
    font-size: 3rem;
  }
  
  /* List of books styles */
  
  input[type="checkbox"] {
    margin: 0 15px 0 15px;

  }

  .book-title {
    text-align: center;
    padding-top: 10px;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;

  }


  .pop-up {
    padding: 30px;
    margin: 20px;
    text-align: center;

  }

  .agree,
  .disagree {
    margin: 10px 0;
  }




  footer p {
    font-size: 1.5rem;

  }

}
